@use "sass:color";

$primary: #5dbfc2;
$primary-light: #afc6c6;
$primary-dark: #326b6b;
$secondary: #e58f5e;
$secondary-light: #f7cfb7; 
$text-color: #333;
$menu-item-margin: 10px;
$menu-item-padding: 10px 20px;
$bg-color: rgba($primary, 0.5);
$web-font: "Aeonik", "Segoe UI", Roboto, Arial, sans-serif;
$slides-visible: 3;
$learn-gap: clamp(10px, 2.8vw, 20px);