USE [master]
GO
/****** Object:  Database [oreka]    Script Date: 29/09/2025 14:26:03 ******/
CREATE DATABASE [oreka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oreka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oreka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oreka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oreka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oreka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oreka]
GO
/****** Object:  User [LACAJA\prueba2]    Script Date: 29/09/2025 14:26:03 ******/
CREATE USER [LACAJA\prueba2] FOR LOGIN [LACAJA\prueba2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\oreka]    Script Date: 29/09/2025 14:26:03 ******/
CREATE USER [IIS APPPOOL\oreka] FOR LOGIN [IIS APPPOOL\oreka] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LACAJA\prueba2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [LACAJA\prueba2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [LACAJA\prueba2]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\oreka]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\oreka]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\oreka]
GO
/****** Object:  Table [dbo].[admin_legal]    Script Date: 29/09/2025 14:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_legal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prize] [nvarchar](max) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[status] [varchar](15) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_link]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[id_category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_catlink] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_relation]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_relation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_parent] [int] NOT NULL,
	[id_child] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_crel] UNIQUE NONCLUSTERED 
(
	[id_parent] ASC,
	[id_child] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_translation]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[slug] [nvarchar](220) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_ct] UNIQUE NONCLUSTERED 
(
	[id_category] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](500) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NULL,
	[path] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learn]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_image] [int] NULL,
	[url] [nvarchar](500) NULL,
	[status] [varchar](20) NOT NULL,
	[duration] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[link]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_banner] [int] NULL,
	[id_learn] [int] NULL,
	[id_forum] [int] NULL,
	[id_recommendation] [int] NULL,
	[id_routine] [int] NULL,
	[id_trial] [int] NULL,
	[id_meeting] [int] NULL,
	[id_admin_legal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meeting]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meeting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[place] [nvarchar](200) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[email] [nvarchar](320) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module_toggle]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module_toggle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_key] [nvarchar](50) NOT NULL,
	[show_module] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[module_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[points] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendation]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author] [nvarchar](150) NULL,
	[likes] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routine]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[frequency] [int] NULL,
	[duration] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[translation]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_tr] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trial]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_image] [int] NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](150) NOT NULL,
	[roles] [varchar](10) NOT NULL,
	[soccle] [char](10) NOT NULL,
	[matcle] [char](10) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[sit] [tinyint] NOT NULL,
	[nif] [char](9) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apel] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[usuario_sup] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_activity]    Script Date: 29/09/2025 14:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_point] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ix_category_link_category]    Script Date: 29/09/2025 14:26:04 ******/
CREATE NONCLUSTERED INDEX [ix_category_link_category] ON [dbo].[category_link]
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_image_category]    Script Date: 29/09/2025 14:26:04 ******/
CREATE NONCLUSTERED INDEX [ix_image_category] ON [dbo].[image]
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_point_id_link]    Script Date: 29/09/2025 14:26:04 ******/
CREATE NONCLUSTERED INDEX [ix_point_id_link] ON [dbo].[point]
(
	[id_link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_translation_link]    Script Date: 29/09/2025 14:26:04 ******/
CREATE NONCLUSTERED INDEX [ix_translation_link] ON [dbo].[translation]
(
	[id_link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_user_activity_point]    Script Date: 29/09/2025 14:26:04 ******/
CREATE NONCLUSTERED INDEX [ix_user_activity_point] ON [dbo].[user_activity]
(
	[id_point] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_user_activity_user]    Script Date: 29/09/2025 14:26:04 ******/
CREATE NONCLUSTERED INDEX [ix_user_activity_user] ON [dbo].[user_activity]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[learn] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learn] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_show_module]  DEFAULT ((1)) FOR [show_module]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_created]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_updated]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[point] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT ((0)) FOR [likes]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_roles]  DEFAULT ('usuario') FOR [roles]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_soccle]  DEFAULT ('') FOR [soccle]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_matcle]  DEFAULT ('') FOR [matcle]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_sexo]  DEFAULT ('') FOR [sexo]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_sit]  DEFAULT ((0)) FOR [sit]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_nif]  DEFAULT ('') FOR [nif]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_nombre]  DEFAULT ('') FOR [nombre]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_apel]  DEFAULT ('') FOR [apel]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_email]  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_category]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_link]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_child] FOREIGN KEY([id_child])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_child]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_parent] FOREIGN KEY([id_parent])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_parent]
GO
ALTER TABLE [dbo].[category_translation]  WITH CHECK ADD  CONSTRAINT [fk_ct_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_translation] CHECK CONSTRAINT [fk_ct_category]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [fk_image_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [fk_image_category]
GO
ALTER TABLE [dbo].[learn]  WITH CHECK ADD  CONSTRAINT [fk_learn_image] FOREIGN KEY([id_image])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[learn] CHECK CONSTRAINT [fk_learn_image]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_admin_legal] FOREIGN KEY([id_admin_legal])
REFERENCES [dbo].[admin_legal] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_admin_legal]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_banner] FOREIGN KEY([id_banner])
REFERENCES [dbo].[banner] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_banner]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_forum] FOREIGN KEY([id_forum])
REFERENCES [dbo].[forum] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_forum]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_learn] FOREIGN KEY([id_learn])
REFERENCES [dbo].[learn] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_learn]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_meeting] FOREIGN KEY([id_meeting])
REFERENCES [dbo].[meeting] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_meeting]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_recommendation] FOREIGN KEY([id_recommendation])
REFERENCES [dbo].[recommendation] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_recommendation]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_routine] FOREIGN KEY([id_routine])
REFERENCES [dbo].[routine] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_routine]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_trial] FOREIGN KEY([id_trial])
REFERENCES [dbo].[trial] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_trial]
GO
ALTER TABLE [dbo].[point]  WITH CHECK ADD  CONSTRAINT [fk_point_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[point] CHECK CONSTRAINT [fk_point_link]
GO
ALTER TABLE [dbo].[translation]  WITH CHECK ADD  CONSTRAINT [fk_tr_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[translation] CHECK CONSTRAINT [fk_tr_link]
GO
ALTER TABLE [dbo].[trial]  WITH CHECK ADD  CONSTRAINT [fk_trial_image] FOREIGN KEY([id_image])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[trial] CHECK CONSTRAINT [fk_trial_image]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_point] FOREIGN KEY([id_point])
REFERENCES [dbo].[point] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_point]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_user]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [ck_category_status] CHECK  (([status]='publicado' OR [status]='borrador'))
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [ck_category_status]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [ck_crel_diff] CHECK  (([id_parent]<>[id_child]))
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [ck_crel_diff]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [ck_uact_status] CHECK  (([status]='sorteo' OR [status]='finalizado' OR [status]='en_proceso' OR [status]='apuntado'))
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [ck_uact_status]
GO
USE [master]
GO
