USE [master]
GO
/****** Object:  Database [oreka]    Script Date: 29/09/2025 11:34:42 ******/
CREATE DATABASE [oreka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oreka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oreka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oreka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\oreka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oreka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oreka]
GO
/****** Object:  User [LACAJA\prueba2]    Script Date: 29/09/2025 11:34:42 ******/
CREATE USER [LACAJA\prueba2] FOR LOGIN [LACAJA\prueba2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\oreka]    Script Date: 29/09/2025 11:34:42 ******/
CREATE USER [IIS APPPOOL\oreka] FOR LOGIN [IIS APPPOOL\oreka] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LACAJA\prueba2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [LACAJA\prueba2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [LACAJA\prueba2]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\oreka]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\oreka]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\oreka]
GO
/****** Object:  Table [dbo].[admin_legal]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_legal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prize] [nvarchar](max) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[status] [varchar](15) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_link]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[id_category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_relation]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_relation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_parent] [int] NOT NULL,
	[id_child] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_translation]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[slug] [nvarchar](220) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](500) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NULL,
	[path] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learn]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_image] [int] NULL,
	[url] [nvarchar](500) NULL,
	[status] [varchar](20) NOT NULL,
	[duration] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[link]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_banner] [int] NULL,
	[id_learn] [int] NULL,
	[id_forum] [int] NULL,
	[id_recommendation] [int] NULL,
	[id_routine] [int] NULL,
	[id_trial] [int] NULL,
	[id_meeting] [int] NULL,
	[id_admin_legal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meeting]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meeting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[place] [nvarchar](200) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[email] [nvarchar](320) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module_toggle]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module_toggle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_key] [nvarchar](50) NOT NULL,
	[show_module] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[points] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendation]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author] [nvarchar](150) NULL,
	[likes] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routine]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[frequency] [int] NULL,
	[duration] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[translation]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trial]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_image] [int] NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[roles] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_activity]    Script Date: 29/09/2025 11:34:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_point] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin_legal] ON 

INSERT [dbo].[admin_legal] ([id], [status], [created_at], [updated_at]) VALUES (1, N'activo', CAST(N'2025-09-09T10:17:27.2149226' AS DateTime2), CAST(N'2025-09-09T10:17:27.2149226' AS DateTime2))
INSERT [dbo].[admin_legal] ([id], [status], [created_at], [updated_at]) VALUES (2, N'inactivo', CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2), CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2))
INSERT [dbo].[admin_legal] ([id], [status], [created_at], [updated_at]) VALUES (3, N'1', CAST(N'2025-09-26T17:44:02.7468159' AS DateTime2), CAST(N'2025-09-28T15:57:18.7037697' AS DateTime2))
SET IDENTITY_INSERT [dbo].[admin_legal] OFF
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([id], [prize], [date_start], [date_finish], [created_at], [updated_at]) VALUES (1, N'Sorteo de 50 puntos', CAST(N'2025-08-01T09:00:00.0000000' AS DateTime2), CAST(N'2025-09-01T23:59:59.0000000' AS DateTime2), CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2), CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2))
INSERT [dbo].[banner] ([id], [prize], [date_start], [date_finish], [created_at], [updated_at]) VALUES (2, N'Vale de tienda', CAST(N'2025-09-10T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-10T23:59:59.0000000' AS DateTime2), CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2), CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2))
SET IDENTITY_INSERT [dbo].[banner] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [entity_type], [status], [created_at], [updated_at]) VALUES (1, N'learn', N'publicado', CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2), CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2))
INSERT [dbo].[category] ([id], [entity_type], [status], [created_at], [updated_at]) VALUES (2, N'learn', N'publicado', CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2), CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2))
INSERT [dbo].[category] ([id], [entity_type], [status], [created_at], [updated_at]) VALUES (3, N'learn', N'publicado', CAST(N'2025-09-09T10:17:27.2198758' AS DateTime2), CAST(N'2025-09-09T10:17:27.2198758' AS DateTime2))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[category_link] ON 

INSERT [dbo].[category_link] ([id], [id_link], [id_category]) VALUES (1, 1, 2)
INSERT [dbo].[category_link] ([id], [id_link], [id_category]) VALUES (2, 2, 3)
INSERT [dbo].[category_link] ([id], [id_link], [id_category]) VALUES (3, 3, 4)
SET IDENTITY_INSERT [dbo].[category_link] OFF
GO
SET IDENTITY_INSERT [dbo].[category_relation] ON 

INSERT [dbo].[category_relation] ([id], [id_parent], [id_child]) VALUES (1, 1, 2)
INSERT [dbo].[category_relation] ([id], [id_parent], [id_child]) VALUES (2, 1, 3)
INSERT [dbo].[category_relation] ([id], [id_parent], [id_child]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[category_relation] OFF
GO
SET IDENTITY_INSERT [dbo].[category_translation] ON 

INSERT [dbo].[category_translation] ([id], [id_category], [lang], [name], [description], [slug]) VALUES (1, 1, N'es', N'Aula', N'Sección de aprendizaje', N'aula')
INSERT [dbo].[category_translation] ([id], [id_category], [lang], [name], [description], [slug]) VALUES (2, 1, N'eu', N'Gela', N'Ikaskuntza atala', N'gela')
INSERT [dbo].[category_translation] ([id], [id_category], [lang], [name], [description], [slug]) VALUES (3, 2, N'es', N'Bienestar', N'Contenido de bienestar', N'bienestar')
SET IDENTITY_INSERT [dbo].[category_translation] OFF
GO
SET IDENTITY_INSERT [dbo].[forum] ON 

INSERT [dbo].[forum] ([id], [url], [date_start], [date_finish], [status], [created_at], [updated_at]) VALUES (1, N'https://example.com/foro-productividad', CAST(N'2025-09-10T12:00:00.0000000' AS DateTime2), CAST(N'2025-09-10T12:10:00.0000000' AS DateTime2), N'activo', CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2), CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2))
INSERT [dbo].[forum] ([id], [url], [date_start], [date_finish], [status], [created_at], [updated_at]) VALUES (2, N'https://example.com/foro-productividad', CAST(N'2025-09-12T17:00:00.0000000' AS DateTime2), CAST(N'2025-09-12T18:30:00.0000000' AS DateTime2), N'activo', CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2), CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2))
SET IDENTITY_INSERT [dbo].[forum] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [id_category], [path]) VALUES (1, 2, N'/assets/images/bienestar.png')
INSERT [dbo].[image] ([id], [id_category], [path]) VALUES (2, 3, N'/assets/images/productividad.png')
INSERT [dbo].[image] ([id], [id_category], [path]) VALUES (3, 4, N'/assets/images/nutricion.png')
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[learn] ON 

INSERT [dbo].[learn] ([id], [id_image], [url], [status], [duration], [created_at], [updated_at]) VALUES (1, 1, N'https://example.com/respiracion', N'activo', 15, CAST(N'2025-09-09T10:17:27.2289706' AS DateTime2), CAST(N'2025-09-09T10:17:27.2289706' AS DateTime2))
INSERT [dbo].[learn] ([id], [id_image], [url], [status], [duration], [created_at], [updated_at]) VALUES (2, 2, N'https://example.com/foco-profundo', N'activo', 20, CAST(N'2025-09-09T10:17:27.2289706' AS DateTime2), CAST(N'2025-09-09T10:17:27.2289706' AS DateTime2))
INSERT [dbo].[learn] ([id], [id_image], [url], [status], [duration], [created_at], [updated_at]) VALUES (3, 3, N'https://example.com/desayunos', N'activo', 12, CAST(N'2025-09-09T10:17:27.2289706' AS DateTime2), CAST(N'2025-09-09T10:17:27.2289706' AS DateTime2))
SET IDENTITY_INSERT [dbo].[learn] OFF
GO
SET IDENTITY_INSERT [dbo].[link] ON 

INSERT [dbo].[link] ([id], [id_banner], [id_learn], [id_forum], [id_recommendation], [id_routine], [id_trial], [id_meeting], [id_admin_legal]) VALUES (1, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[link] ([id], [id_banner], [id_learn], [id_forum], [id_recommendation], [id_routine], [id_trial], [id_meeting], [id_admin_legal]) VALUES (2, NULL, 2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[link] ([id], [id_banner], [id_learn], [id_forum], [id_recommendation], [id_routine], [id_trial], [id_meeting], [id_admin_legal]) VALUES (3, NULL, 3, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[link] OFF
GO
SET IDENTITY_INSERT [dbo].[meeting] ON 

INSERT [dbo].[meeting] ([id], [place], [date_start], [date_finish], [email], [created_at], [updated_at]) VALUES (1, N'Centro Cívico', CAST(N'2025-09-20T10:00:00.0000000' AS DateTime2), CAST(N'2025-09-20T11:00:00.0000000' AS DateTime2), N'contacto@oreka.local', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[meeting] ([id], [place], [date_start], [date_finish], [email], [created_at], [updated_at]) VALUES (2, N'Parque Norte', CAST(N'2025-09-27T18:00:00.0000000' AS DateTime2), CAST(N'2025-09-27T19:00:00.0000000' AS DateTime2), N'eventos@oreka.local', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[meeting] ([id], [place], [date_start], [date_finish], [email], [created_at], [updated_at]) VALUES (5, N'Bilbao', CAST(N'2025-09-25T10:00:00.0000000' AS DateTime2), NULL, N'pedro@kutxabank.es', CAST(N'2025-09-24T15:06:22.9100000' AS DateTime2), CAST(N'2025-09-24T15:06:22.9100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[meeting] OFF
GO
SET IDENTITY_INSERT [dbo].[module_toggle] ON 

INSERT [dbo].[module_toggle] ([id], [module_key], [show_module], [created_at], [updated_at]) VALUES (1, N'community', 1, CAST(N'2025-09-28T17:21:40.5868186' AS DateTime2), CAST(N'2025-09-29T10:32:21.2932309' AS DateTime2))
INSERT [dbo].[module_toggle] ([id], [module_key], [show_module], [created_at], [updated_at]) VALUES (2, N'forum', 1, CAST(N'2025-09-28T17:21:40.5868186' AS DateTime2), CAST(N'2025-09-29T10:42:40.3487360' AS DateTime2))
INSERT [dbo].[module_toggle] ([id], [module_key], [show_module], [created_at], [updated_at]) VALUES (3, N'learn', 1, CAST(N'2025-09-28T17:21:40.5868186' AS DateTime2), CAST(N'2025-09-29T11:03:00.8184181' AS DateTime2))
SET IDENTITY_INSERT [dbo].[module_toggle] OFF
GO
SET IDENTITY_INSERT [dbo].[point] ON 

INSERT [dbo].[point] ([id], [id_link], [points], [created_at]) VALUES (1, 1, 10, CAST(N'2025-09-09T10:17:27.2492653' AS DateTime2))
INSERT [dbo].[point] ([id], [id_link], [points], [created_at]) VALUES (2, 2, 12, CAST(N'2025-09-09T10:17:27.2492653' AS DateTime2))
INSERT [dbo].[point] ([id], [id_link], [points], [created_at]) VALUES (3, 4, 5, CAST(N'2025-09-09T10:17:27.2492653' AS DateTime2))
SET IDENTITY_INSERT [dbo].[point] OFF
GO
SET IDENTITY_INSERT [dbo].[recommendation] ON 

INSERT [dbo].[recommendation] ([id], [author], [likes], [created_at], [updated_at]) VALUES (1, N'Antoine de Saint-Exupéry
', 48, CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2), CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2))
INSERT [dbo].[recommendation] ([id], [author], [likes], [created_at], [updated_at]) VALUES (2, N'Pere Estupinyà', 53, CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2), CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2))
INSERT [dbo].[recommendation] ([id], [author], [likes], [created_at], [updated_at]) VALUES (3, N'Anne Igartiburu', 30, CAST(N'2025-09-10T10:16:09.3464666' AS DateTime2), CAST(N'2025-09-10T10:16:09.3464666' AS DateTime2))
SET IDENTITY_INSERT [dbo].[recommendation] OFF
GO
SET IDENTITY_INSERT [dbo].[routine] ON 

INSERT [dbo].[routine] ([id], [frequency], [duration], [created_at], [updated_at]) VALUES (1, 2, 10, CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2), CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2))
INSERT [dbo].[routine] ([id], [frequency], [duration], [created_at], [updated_at]) VALUES (2, 3, 30, CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2), CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2))
INSERT [dbo].[routine] ([id], [frequency], [duration], [created_at], [updated_at]) VALUES (15, 3, 60, CAST(N'2025-09-16T11:27:01.9833333' AS DateTime2), CAST(N'2025-09-16T11:27:01.9833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[routine] OFF
GO
SET IDENTITY_INSERT [dbo].[translation] ON 

INSERT [dbo].[translation] ([id], [id_link], [lang], [title], [content]) VALUES (1, 1, N'es', N'Respiración consciente', N'Guía breve para mejorar tu respiración.')
INSERT [dbo].[translation] ([id], [id_link], [lang], [title], [content]) VALUES (2, 1, N'eu', N'Arnasaz kontziente', N'Arnasketa hobetzeko gida laburra.')
INSERT [dbo].[translation] ([id], [id_link], [lang], [title], [content]) VALUES (3, 2, N'es', N'Foco profundo', N'Técnicas para reducir distracciones.')
SET IDENTITY_INSERT [dbo].[translation] OFF
GO
SET IDENTITY_INSERT [dbo].[trial] ON 

INSERT [dbo].[trial] ([id], [id_image], [content], [created_at], [updated_at]) VALUES (1, 1, N'Reto 7 días de respiración', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[trial] ([id], [id_image], [content], [created_at], [updated_at]) VALUES (2, 2, N'Reto 3 días sin notificaciones', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[trial] ([id], [id_image], [content], [created_at], [updated_at]) VALUES (3, 5, N'gdfgdf', CAST(N'2025-09-17T18:02:13.7700000' AS DateTime2), CAST(N'2025-09-17T18:02:13.7700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[trial] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [name], [roles]) VALUES (1, N'ezequiel_33_1@hotmail.com', N'admin     ')
INSERT [dbo].[user] ([id], [name], [roles]) VALUES (2, N'Ana', N'          ')
INSERT [dbo].[user] ([id], [name], [roles]) VALUES (3, N'Pedro', N'          ')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[user_activity] ON 

INSERT [dbo].[user_activity] ([id], [id_user], [id_point], [status]) VALUES (1, 1, 1, N'finalizado')
INSERT [dbo].[user_activity] ([id], [id_user], [id_point], [status]) VALUES (2, 1, 3, N'finalizado')
INSERT [dbo].[user_activity] ([id], [id_user], [id_point], [status]) VALUES (3, 2, 2, N'en_proceso')
SET IDENTITY_INSERT [dbo].[user_activity] OFF
GO
/****** Object:  Index [ux_catlink]    Script Date: 29/09/2025 11:34:42 ******/
ALTER TABLE [dbo].[category_link] ADD  CONSTRAINT [ux_catlink] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_category_link_category]    Script Date: 29/09/2025 11:34:42 ******/
CREATE NONCLUSTERED INDEX [ix_category_link_category] ON [dbo].[category_link]
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ux_crel]    Script Date: 29/09/2025 11:34:42 ******/
ALTER TABLE [dbo].[category_relation] ADD  CONSTRAINT [ux_crel] UNIQUE NONCLUSTERED 
(
	[id_parent] ASC,
	[id_child] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_ct]    Script Date: 29/09/2025 11:34:42 ******/
ALTER TABLE [dbo].[category_translation] ADD  CONSTRAINT [ux_ct] UNIQUE NONCLUSTERED 
(
	[id_category] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_image_category]    Script Date: 29/09/2025 11:34:42 ******/
CREATE NONCLUSTERED INDEX [ix_image_category] ON [dbo].[image]
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__module_t__AFDCF3BB4F6B947A]    Script Date: 29/09/2025 11:34:42 ******/
ALTER TABLE [dbo].[module_toggle] ADD UNIQUE NONCLUSTERED 
(
	[module_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_point_id_link]    Script Date: 29/09/2025 11:34:42 ******/
CREATE NONCLUSTERED INDEX [ix_point_id_link] ON [dbo].[point]
(
	[id_link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_tr]    Script Date: 29/09/2025 11:34:42 ******/
ALTER TABLE [dbo].[translation] ADD  CONSTRAINT [ux_tr] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_translation_link]    Script Date: 29/09/2025 11:34:42 ******/
CREATE NONCLUSTERED INDEX [ix_translation_link] ON [dbo].[translation]
(
	[id_link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_user_activity_point]    Script Date: 29/09/2025 11:34:42 ******/
CREATE NONCLUSTERED INDEX [ix_user_activity_point] ON [dbo].[user_activity]
(
	[id_point] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_user_activity_user]    Script Date: 29/09/2025 11:34:42 ******/
CREATE NONCLUSTERED INDEX [ix_user_activity_user] ON [dbo].[user_activity]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[learn] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learn] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_show_module]  DEFAULT ((1)) FOR [show_module]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_created]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_updated]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[point] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT ((0)) FOR [likes]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_category]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_link]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_child] FOREIGN KEY([id_child])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_child]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_parent] FOREIGN KEY([id_parent])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_parent]
GO
ALTER TABLE [dbo].[category_translation]  WITH CHECK ADD  CONSTRAINT [fk_ct_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_translation] CHECK CONSTRAINT [fk_ct_category]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [fk_image_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [fk_image_category]
GO
ALTER TABLE [dbo].[learn]  WITH CHECK ADD  CONSTRAINT [fk_learn_image] FOREIGN KEY([id_image])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[learn] CHECK CONSTRAINT [fk_learn_image]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_admin_legal] FOREIGN KEY([id_admin_legal])
REFERENCES [dbo].[admin_legal] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_admin_legal]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_banner] FOREIGN KEY([id_banner])
REFERENCES [dbo].[banner] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_banner]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_forum] FOREIGN KEY([id_forum])
REFERENCES [dbo].[forum] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_forum]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_learn] FOREIGN KEY([id_learn])
REFERENCES [dbo].[learn] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_learn]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_meeting] FOREIGN KEY([id_meeting])
REFERENCES [dbo].[meeting] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_meeting]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_recommendation] FOREIGN KEY([id_recommendation])
REFERENCES [dbo].[recommendation] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_recommendation]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_routine] FOREIGN KEY([id_routine])
REFERENCES [dbo].[routine] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_routine]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_trial] FOREIGN KEY([id_trial])
REFERENCES [dbo].[trial] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_trial]
GO
ALTER TABLE [dbo].[point]  WITH CHECK ADD  CONSTRAINT [fk_point_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[point] CHECK CONSTRAINT [fk_point_link]
GO
ALTER TABLE [dbo].[translation]  WITH CHECK ADD  CONSTRAINT [fk_tr_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[translation] CHECK CONSTRAINT [fk_tr_link]
GO
ALTER TABLE [dbo].[trial]  WITH CHECK ADD  CONSTRAINT [fk_trial_image] FOREIGN KEY([id_image])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[trial] CHECK CONSTRAINT [fk_trial_image]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_point] FOREIGN KEY([id_point])
REFERENCES [dbo].[point] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_point]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_user]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [ck_category_status] CHECK  (([status]='publicado' OR [status]='borrador'))
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [ck_category_status]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [ck_crel_diff] CHECK  (([id_parent]<>[id_child]))
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [ck_crel_diff]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [ck_uact_status] CHECK  (([status]='sorteo' OR [status]='finalizado' OR [status]='en_proceso' OR [status]='apuntado'))
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [ck_uact_status]
GO
USE [master]
GO
