USE [oreka]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_module_points]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_get_module_points] (@module_code VARCHAR(20))
RETURNS INT
AS
BEGIN
  DECLARE @p INT;
  SELECT @p = pm.points
  FROM dbo.point_modules pm
  WHERE pm.module_code = @module_code
    AND pm.effective_to IS NULL;
  RETURN @p;
END;
GO
/****** Object:  Table [dbo].[link]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_banner] [int] NULL,
	[id_learn] [int] NULL,
	[id_forum] [int] NULL,
	[id_recommendation] [int] NULL,
	[id_routine] [int] NULL,
	[id_trial] [int] NULL,
	[id_meeting] [int] NULL,
	[id_admin_legal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_link_module]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_link_module] AS
SELECT
  l.id AS id_link,
  CASE 
    WHEN l.id_learn          IS NOT NULL THEN 'learn'
    WHEN l.id_forum          IS NOT NULL THEN 'forum'
    WHEN l.id_recommendation IS NOT NULL THEN 'recommendation'
    WHEN l.id_routine        IS NOT NULL THEN 'routine'
    WHEN l.id_trial          IS NOT NULL THEN 'trial'
    WHEN l.id_meeting        IS NOT NULL THEN 'meeting'
  END AS module_code
FROM dbo.link AS l;
GO
/****** Object:  Table [dbo].[admin_legal]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_legal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prize] [nvarchar](max) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[is_raffle] [bit] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[status] [varchar](15) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_link]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[id_category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_catlink] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_relation]    Script Date: 13/10/2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_relation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_parent] [int] NOT NULL,
	[id_child] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_crel] UNIQUE NONCLUSTERED 
(
	[id_parent] ASC,
	[id_child] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_translation]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[slug] [nvarchar](220) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_ct] UNIQUE NONCLUSTERED 
(
	[id_category] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](500) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NULL,
	[path] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learn]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[duration] [int] NULL,
	[cmid] [int] NULL,
	[identifier] [nvarchar](100) NOT NULL,
	[timecreated] [bigint] NULL,
	[timemodified] [bigint] NULL,
	[visible] [bit] NULL,
	[module_url] [nvarchar](512) NULL,
	[otherlangidentifier] [nvarchar](100) NULL,
	[image_url] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_learn_identifier] UNIQUE NONCLUSTERED 
(
	[identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learn_user]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learn_user](
	[user_email] [nvarchar](320) NOT NULL,
	[content_identifier] [nvarchar](100) NOT NULL,
	[grade] [decimal](7, 3) NULL,
	[grade_max] [decimal](7, 3) NULL,
	[grade_min] [decimal](7, 3) NULL,
	[grade_date_unix] [bigint] NULL,
	[grade_datetime]  AS (dateadd(second,[grade_date_unix],CONVERT([datetime2](0),'19700101',(112)))) PERSISTED,
	[grade_formatted] [nvarchar](100) NULL,
	[grade_percentage] [tinyint] NULL,
	[gradepass] [int] NULL,
	[gradepass_percentage] [tinyint] NULL,
	[iscompleted] [bit] NULL,
	[has_grade] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_learn_user] PRIMARY KEY CLUSTERED 
(
	[user_email] ASC,
	[content_identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meeting]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meeting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[place] [nvarchar](200) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[email] [nvarchar](320) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module_toggle]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module_toggle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_key] [nvarchar](50) NOT NULL,
	[show_module] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[module_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[points] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point_modules]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point_modules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_code] [varchar](20) NOT NULL,
	[points] [int] NOT NULL,
	[effective_from] [datetime2](0) NOT NULL,
	[effective_to] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendation]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author] [nvarchar](150) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendation_likes]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendation_likes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[recommendation_id] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routine]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[frequency] [int] NULL,
	[duration] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[translation]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_tr] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trial]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_image] [int] NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](150) NOT NULL,
	[roles] [varchar](10) NOT NULL,
	[soccle] [char](10) NOT NULL,
	[matcle] [char](10) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[sit] [tinyint] NOT NULL,
	[nif] [char](9) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apel] [varchar](100) NOT NULL,
	[email] [nvarchar](320) NOT NULL,
	[usuario_sup] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_user_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_activity]    Script Date: 13/10/2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_point] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner] ADD  CONSTRAINT [DF_banner_israffle]  DEFAULT ((0)) FOR [is_raffle]
GO
ALTER TABLE [dbo].[banner] ADD  CONSTRAINT [DF_banner_status]  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [DF_learn_timecreated]  DEFAULT (datediff_big(second,'1970-01-01',sysutcdatetime())) FOR [timecreated]
GO
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [DF_learn_timemodified]  DEFAULT (datediff_big(second,'1970-01-01',sysutcdatetime())) FOR [timemodified]
GO
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [DF_learn_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[learn_user] ADD  DEFAULT ((0)) FOR [has_grade]
GO
ALTER TABLE [dbo].[learn_user] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learn_user] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_show_module]  DEFAULT ((1)) FOR [show_module]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_created]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_updated]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[point] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[point_modules] ADD  CONSTRAINT [DF_point_modules_from]  DEFAULT (sysutcdatetime()) FOR [effective_from]
GO
ALTER TABLE [dbo].[point_modules] ADD  CONSTRAINT [DF_point_modules_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  CONSTRAINT [DF_recommendation_status]  DEFAULT (N'publicado') FOR [status]
GO
ALTER TABLE [dbo].[recommendation_likes] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_roles]  DEFAULT ('usuario') FOR [roles]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_soccle]  DEFAULT ('') FOR [soccle]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_matcle]  DEFAULT ('') FOR [matcle]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_sexo]  DEFAULT ('') FOR [sexo]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_sit]  DEFAULT ((0)) FOR [sit]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_nif]  DEFAULT ('') FOR [nif]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_nombre]  DEFAULT ('') FOR [nombre]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_apel]  DEFAULT ('') FOR [apel]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_category]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_link]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_child] FOREIGN KEY([id_child])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_child]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_parent] FOREIGN KEY([id_parent])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_parent]
GO
ALTER TABLE [dbo].[category_translation]  WITH CHECK ADD  CONSTRAINT [fk_ct_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_translation] CHECK CONSTRAINT [fk_ct_category]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [fk_image_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [fk_image_category]
GO
ALTER TABLE [dbo].[learn_user]  WITH CHECK ADD  CONSTRAINT [FK_learn_user_learn] FOREIGN KEY([content_identifier])
REFERENCES [dbo].[learn] ([identifier])
GO
ALTER TABLE [dbo].[learn_user] CHECK CONSTRAINT [FK_learn_user_learn]
GO
ALTER TABLE [dbo].[learn_user]  WITH CHECK ADD  CONSTRAINT [FK_learn_user_user] FOREIGN KEY([user_email])
REFERENCES [dbo].[user] ([email])
GO
ALTER TABLE [dbo].[learn_user] CHECK CONSTRAINT [FK_learn_user_user]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_admin_legal] FOREIGN KEY([id_admin_legal])
REFERENCES [dbo].[admin_legal] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_admin_legal]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_banner] FOREIGN KEY([id_banner])
REFERENCES [dbo].[banner] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_banner]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_forum] FOREIGN KEY([id_forum])
REFERENCES [dbo].[forum] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_forum]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_learn] FOREIGN KEY([id_learn])
REFERENCES [dbo].[learn] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_learn]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_meeting] FOREIGN KEY([id_meeting])
REFERENCES [dbo].[meeting] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_meeting]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_recommendation] FOREIGN KEY([id_recommendation])
REFERENCES [dbo].[recommendation] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_recommendation]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_routine] FOREIGN KEY([id_routine])
REFERENCES [dbo].[routine] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_routine]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_trial] FOREIGN KEY([id_trial])
REFERENCES [dbo].[trial] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_trial]
GO
ALTER TABLE [dbo].[point]  WITH CHECK ADD  CONSTRAINT [fk_point_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[point] CHECK CONSTRAINT [fk_point_link]
GO
ALTER TABLE [dbo].[recommendation_likes]  WITH CHECK ADD  CONSTRAINT [FK_recommendation_likes_recommendation] FOREIGN KEY([recommendation_id])
REFERENCES [dbo].[recommendation] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recommendation_likes] CHECK CONSTRAINT [FK_recommendation_likes_recommendation]
GO
ALTER TABLE [dbo].[recommendation_likes]  WITH CHECK ADD  CONSTRAINT [FK_recommendation_likes_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recommendation_likes] CHECK CONSTRAINT [FK_recommendation_likes_user]
GO
ALTER TABLE [dbo].[translation]  WITH CHECK ADD  CONSTRAINT [fk_tr_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[translation] CHECK CONSTRAINT [fk_tr_link]
GO
ALTER TABLE [dbo].[trial]  WITH CHECK ADD  CONSTRAINT [fk_trial_image] FOREIGN KEY([id_image])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[trial] CHECK CONSTRAINT [fk_trial_image]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_point] FOREIGN KEY([id_point])
REFERENCES [dbo].[point] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_point]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_user]
GO
ALTER TABLE [dbo].[banner]  WITH CHECK ADD  CONSTRAINT [CK_banner_status] CHECK  (([status]=N'finished' OR [status]=N'running' OR [status]=N'scheduled' OR [status]=N'draft'))
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [CK_banner_status]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [ck_category_status] CHECK  (([status]=N'eliminado' OR [status]=N'publicado'))
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [ck_category_status]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [ck_crel_diff] CHECK  (([id_parent]<>[id_child]))
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [ck_crel_diff]
GO
ALTER TABLE [dbo].[learn]  WITH NOCHECK ADD  CONSTRAINT [CK_learn_status] CHECK  (([status]='deleted' OR [status]='active'))
GO
ALTER TABLE [dbo].[learn] CHECK CONSTRAINT [CK_learn_status]
GO
ALTER TABLE [dbo].[point_modules]  WITH CHECK ADD  CONSTRAINT [CK_point_modules_dates] CHECK  (([effective_to] IS NULL OR [effective_to]>[effective_from]))
GO
ALTER TABLE [dbo].[point_modules] CHECK CONSTRAINT [CK_point_modules_dates]
GO
ALTER TABLE [dbo].[point_modules]  WITH CHECK ADD  CONSTRAINT [CK_point_modules_module] CHECK  (([module_code]='meeting' OR [module_code]='trial' OR [module_code]='routine' OR [module_code]='recommendation' OR [module_code]='forum' OR [module_code]='learn'))
GO
ALTER TABLE [dbo].[point_modules] CHECK CONSTRAINT [CK_point_modules_module]
GO
ALTER TABLE [dbo].[point_modules]  WITH CHECK ADD  CONSTRAINT [CK_point_modules_points] CHECK  (([points]>=(0)))
GO
ALTER TABLE [dbo].[point_modules] CHECK CONSTRAINT [CK_point_modules_points]
GO
