USE [oreka]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_module_points]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_get_module_points] (@module_code VARCHAR(20))
RETURNS INT
AS
BEGIN
  DECLARE @p INT;
  SELECT @p = pm.points
  FROM dbo.point_modules pm
  WHERE pm.module_code = @module_code
    AND pm.effective_to IS NULL;
  RETURN @p;
END;
GO
/****** Object:  Table [dbo].[link]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_banner] [int] NULL,
	[id_learn] [int] NULL,
	[id_forum] [int] NULL,
	[id_recommendation] [int] NULL,
	[id_routine] [int] NULL,
	[id_trial] [int] NULL,
	[id_meeting] [int] NULL,
	[id_admin_legal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_link_module]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_link_module] AS
SELECT
  l.id AS id_link,
  CASE 
    WHEN l.id_learn          IS NOT NULL THEN 'learn'
    WHEN l.id_forum          IS NOT NULL THEN 'forum'
    WHEN l.id_recommendation IS NOT NULL THEN 'recommendation'
    WHEN l.id_routine        IS NOT NULL THEN 'routine'
    WHEN l.id_trial          IS NOT NULL THEN 'trial'
    WHEN l.id_meeting        IS NOT NULL THEN 'meeting'
  END AS module_code
FROM dbo.link AS l;
GO
/****** Object:  Table [dbo].[admin_legal]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_legal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prize] [nvarchar](max) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[is_raffle] [bit] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[status] [varchar](15) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_link]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[id_category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_relation]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_relation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_parent] [int] NOT NULL,
	[id_child] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_translation]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[slug] [nvarchar](220) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](500) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_category] [int] NULL,
	[path] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learn]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[duration] [int] NULL,
	[cmid] [int] NULL,
	[identifier] [nvarchar](100) NOT NULL,
	[timecreated] [bigint] NULL,
	[timemodified] [bigint] NULL,
	[visible] [bit] NULL,
	[module_url] [nvarchar](512) NULL,
	[otherlangidentifier] [nvarchar](100) NULL,
	[image_url] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learn_user]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learn_user](
	[user_email] [nvarchar](320) NOT NULL,
	[content_identifier] [nvarchar](100) NOT NULL,
	[grade] [decimal](7, 3) NULL,
	[grade_max] [decimal](7, 3) NULL,
	[grade_min] [decimal](7, 3) NULL,
	[grade_date_unix] [bigint] NULL,
	[grade_datetime]  AS (dateadd(second,[grade_date_unix],CONVERT([datetime2](0),'19700101',(112)))) PERSISTED,
	[grade_formatted] [nvarchar](100) NULL,
	[grade_percentage] [tinyint] NULL,
	[gradepass] [int] NULL,
	[gradepass_percentage] [tinyint] NULL,
	[iscompleted] [bit] NULL,
	[has_grade] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_learn_user] PRIMARY KEY CLUSTERED 
(
	[user_email] ASC,
	[content_identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meeting]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meeting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[place] [nvarchar](200) NULL,
	[date_start] [datetime2](7) NULL,
	[date_finish] [datetime2](7) NULL,
	[email] [nvarchar](320) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module_toggle]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module_toggle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_key] [nvarchar](50) NOT NULL,
	[show_module] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[points] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point_modules]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point_modules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_code] [varchar](20) NOT NULL,
	[points] [int] NOT NULL,
	[effective_from] [datetime2](0) NOT NULL,
	[effective_to] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendation]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author] [nvarchar](150) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recommendation_likes]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommendation_likes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[recommendation_id] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routine]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[frequency] [int] NULL,
	[duration] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[translation]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[translation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_link] [int] NOT NULL,
	[lang] [char](2) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trial]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_image] [int] NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](150) NOT NULL,
	[roles] [varchar](10) NOT NULL,
	[soccle] [char](10) NOT NULL,
	[matcle] [char](10) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[sit] [tinyint] NOT NULL,
	[nif] [char](9) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apel] [varchar](100) NOT NULL,
	[email] [nvarchar](320) NOT NULL,
	[usuario_sup] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_activity]    Script Date: 13/10/2025 19:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[id_point] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin_legal] ON 

INSERT [dbo].[admin_legal] ([id], [status], [created_at], [updated_at]) VALUES (1, N'activo', CAST(N'2025-09-09T10:17:27.2149226' AS DateTime2), CAST(N'2025-09-09T10:17:27.2149226' AS DateTime2))
INSERT [dbo].[admin_legal] ([id], [status], [created_at], [updated_at]) VALUES (2, N'inactivo', CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2), CAST(N'2025-09-09T10:17:27.2163455' AS DateTime2))
INSERT [dbo].[admin_legal] ([id], [status], [created_at], [updated_at]) VALUES (3, N'1', CAST(N'2025-09-26T17:44:02.7468159' AS DateTime2), CAST(N'2025-10-06T11:34:31.0378346' AS DateTime2))
SET IDENTITY_INSERT [dbo].[admin_legal] OFF
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([id], [prize], [date_start], [date_finish], [created_at], [updated_at], [is_raffle], [status]) VALUES (13, N'Spa para dos personas', CAST(N'2025-10-10T10:00:00.0000000' AS DateTime2), CAST(N'2025-10-11T10:00:00.0000000' AS DateTime2), CAST(N'2025-10-02T11:24:31.4118429' AS DateTime2), CAST(N'2025-10-08T15:51:36.3280205' AS DateTime2), 1, N'finished')
INSERT [dbo].[banner] ([id], [prize], [date_start], [date_finish], [created_at], [updated_at], [is_raffle], [status]) VALUES (14, NULL, CAST(N'2026-02-10T10:00:00.0000000' AS DateTime2), CAST(N'2026-02-11T10:00:00.0000000' AS DateTime2), CAST(N'2025-10-02T11:25:20.2474669' AS DateTime2), CAST(N'2025-10-08T15:48:23.4589008' AS DateTime2), 0, N'scheduled')
SET IDENTITY_INSERT [dbo].[banner] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [entity_type], [status], [created_at], [updated_at]) VALUES (1, N'learn', N'publicado', CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2), CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2))
INSERT [dbo].[category] ([id], [entity_type], [status], [created_at], [updated_at]) VALUES (2, N'learn', N'publicado', CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2), CAST(N'2025-09-09T10:17:27.2188552' AS DateTime2))
INSERT [dbo].[category] ([id], [entity_type], [status], [created_at], [updated_at]) VALUES (3, N'learn', N'publicado', CAST(N'2025-09-09T10:17:27.2198758' AS DateTime2), CAST(N'2025-09-09T10:17:27.2198758' AS DateTime2))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[category_link] ON 

INSERT [dbo].[category_link] ([id], [id_link], [id_category]) VALUES (15, 17, 13)
INSERT [dbo].[category_link] ([id], [id_link], [id_category]) VALUES (16, 17, 15)
INSERT [dbo].[category_link] ([id], [id_link], [id_category]) VALUES (37, 42, 29)
SET IDENTITY_INSERT [dbo].[category_link] OFF
GO
SET IDENTITY_INSERT [dbo].[category_relation] ON 

INSERT [dbo].[category_relation] ([id], [id_parent], [id_child]) VALUES (1, 1, 2)
INSERT [dbo].[category_relation] ([id], [id_parent], [id_child]) VALUES (2, 1, 3)
INSERT [dbo].[category_relation] ([id], [id_parent], [id_child]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[category_relation] OFF
GO
SET IDENTITY_INSERT [dbo].[category_translation] ON 

INSERT [dbo].[category_translation] ([id], [id_category], [lang], [name], [description], [slug]) VALUES (1, 1, N'es', N'Aula', N'Sección de aprendizaje', N'aula')
INSERT [dbo].[category_translation] ([id], [id_category], [lang], [name], [description], [slug]) VALUES (2, 1, N'eu', N'Gela', N'Ikaskuntza atala', N'gela')
INSERT [dbo].[category_translation] ([id], [id_category], [lang], [name], [description], [slug]) VALUES (3, 2, N'es', N'Bienestar', N'Contenido de bienestar', N'bienestar')
SET IDENTITY_INSERT [dbo].[category_translation] OFF
GO
SET IDENTITY_INSERT [dbo].[forum] ON 

INSERT [dbo].[forum] ([id], [url], [date_start], [date_finish], [status], [created_at], [updated_at]) VALUES (9, N'https://experienciatek.com/', CAST(N'2025-10-24T10:00:00.0000000' AS DateTime2), CAST(N'2025-10-24T12:00:00.0000000' AS DateTime2), N'scheduled', CAST(N'2025-10-08T15:30:51.4267337' AS DateTime2), CAST(N'2025-10-08T15:30:51.4267337' AS DateTime2))
INSERT [dbo].[forum] ([id], [url], [date_start], [date_finish], [status], [created_at], [updated_at]) VALUES (10, N'https://xtek.com/', CAST(N'2025-10-30T13:00:00.0000000' AS DateTime2), CAST(N'2025-10-30T14:00:00.0000000' AS DateTime2), N'scheduled', CAST(N'2025-10-08T15:36:24.9193678' AS DateTime2), CAST(N'2025-10-08T15:36:24.9193678' AS DateTime2))
SET IDENTITY_INSERT [dbo].[forum] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [id_category], [path]) VALUES (1, 2, N'/assets/images/bienestar.png')
INSERT [dbo].[image] ([id], [id_category], [path]) VALUES (2, 3, N'/assets/images/productividad.png')
INSERT [dbo].[image] ([id], [id_category], [path]) VALUES (3, 4, N'/assets/images/nutricion.png')
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[learn] ON 

INSERT [dbo].[learn] ([id], [status], [duration], [cmid], [identifier], [timecreated], [timemodified], [visible], [module_url], [otherlangidentifier], [image_url]) VALUES (6, N'active', 50, 4207, N'4207', 1758790926, 1759482323, 1, N'https://www.aulavirtual.kutxabank.com/mod/scorm/view.php?id=4207', N'4206', N'https://www.aulavirtual.kutxabank.com/pluginfile.php/1/local_wscontent/content_image/2/pol%20fiscal.png')
INSERT [dbo].[learn] ([id], [status], [duration], [cmid], [identifier], [timecreated], [timemodified], [visible], [module_url], [otherlangidentifier], [image_url]) VALUES (7, N'active', 20, 4208, N'4208', 1758791076, 1759482323, 1, N'https://www.aulavirtual.kutxabank.com/mod/scorm/view.php?id=4208', N'', N'https://www.aulavirtual.kutxabank.com/pluginfile.php/1/local_wscontent/content_image/3/360_F_53453175_hVgYVz0WmvOXPd9CNzaUcwcibiGao3CL.jpg')
INSERT [dbo].[learn] ([id], [status], [duration], [cmid], [identifier], [timecreated], [timemodified], [visible], [module_url], [otherlangidentifier], [image_url]) VALUES (8, N'active', 20, 4206, N'4206', 1758790812, 1759482323, 1, N'https://www.aulavirtual.kutxabank.com/mod/scorm/view.php?id=4206', N'4207', N'https://www.aulavirtual.kutxabank.com/pluginfile.php/1/local_wscontent/content_image/1/360_F_53453175_hVgYVz0WmvOXPd9CNzaUcwcibiGao3CL.jpg')
SET IDENTITY_INSERT [dbo].[learn] OFF
GO
SET IDENTITY_INSERT [dbo].[link] ON 

INSERT [dbo].[link] ([id], [id_banner], [id_learn], [id_forum], [id_recommendation], [id_routine], [id_trial], [id_meeting], [id_admin_legal]) VALUES (17, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[link] ([id], [id_banner], [id_learn], [id_forum], [id_recommendation], [id_routine], [id_trial], [id_meeting], [id_admin_legal]) VALUES (42, NULL, NULL, NULL, NULL, 15, NULL, NULL, NULL)
INSERT [dbo].[link] ([id], [id_banner], [id_learn], [id_forum], [id_recommendation], [id_routine], [id_trial], [id_meeting], [id_admin_legal]) VALUES (43, NULL, NULL, NULL, NULL, 16, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[link] OFF
GO
SET IDENTITY_INSERT [dbo].[meeting] ON 

INSERT [dbo].[meeting] ([id], [place], [date_start], [date_finish], [email], [created_at], [updated_at]) VALUES (1, N'Centro Cívico', CAST(N'2025-09-20T10:00:00.0000000' AS DateTime2), CAST(N'2025-09-20T11:00:00.0000000' AS DateTime2), N'contacto@oreka.local', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[meeting] ([id], [place], [date_start], [date_finish], [email], [created_at], [updated_at]) VALUES (2, N'Parque Norte', CAST(N'2025-09-27T18:00:00.0000000' AS DateTime2), CAST(N'2025-09-27T19:00:00.0000000' AS DateTime2), N'eventos@oreka.local', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[meeting] ([id], [place], [date_start], [date_finish], [email], [created_at], [updated_at]) VALUES (5, N'Bilbao', CAST(N'2025-09-25T10:00:00.0000000' AS DateTime2), NULL, N'pedro@kutxabank.es', CAST(N'2025-09-24T15:06:22.9100000' AS DateTime2), CAST(N'2025-09-24T15:06:22.9100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[meeting] OFF
GO
SET IDENTITY_INSERT [dbo].[module_toggle] ON 

INSERT [dbo].[module_toggle] ([id], [module_key], [show_module], [created_at], [updated_at]) VALUES (1, N'community', 1, CAST(N'2025-09-28T17:21:40.5868186' AS DateTime2), CAST(N'2025-09-29T10:32:21.2932309' AS DateTime2))
INSERT [dbo].[module_toggle] ([id], [module_key], [show_module], [created_at], [updated_at]) VALUES (2, N'forum', 1, CAST(N'2025-09-28T17:21:40.5868186' AS DateTime2), CAST(N'2025-09-29T10:42:40.3487360' AS DateTime2))
INSERT [dbo].[module_toggle] ([id], [module_key], [show_module], [created_at], [updated_at]) VALUES (3, N'learn', 1, CAST(N'2025-09-28T17:21:40.5868186' AS DateTime2), CAST(N'2025-10-09T19:54:41.5596739' AS DateTime2))
SET IDENTITY_INSERT [dbo].[module_toggle] OFF
GO
SET IDENTITY_INSERT [dbo].[point] ON 

INSERT [dbo].[point] ([id], [id_link], [points], [created_at]) VALUES (9, 17, 10, CAST(N'2025-09-10T10:37:53.0319140' AS DateTime2))
INSERT [dbo].[point] ([id], [id_link], [points], [created_at]) VALUES (34, 42, 10, CAST(N'2025-09-16T11:27:01.9900000' AS DateTime2))
INSERT [dbo].[point] ([id], [id_link], [points], [created_at]) VALUES (35, 43, 10, CAST(N'2025-09-16T11:29:26.5500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[point] OFF
GO
SET IDENTITY_INSERT [dbo].[point_modules] ON 

INSERT [dbo].[point_modules] ([id], [module_code], [points], [effective_from], [effective_to], [created_at]) VALUES (1, N'learn', 15, CAST(N'2025-10-08T11:34:32.0000000' AS DateTime2), NULL, CAST(N'2025-10-09T19:54:47.0000000' AS DateTime2))
INSERT [dbo].[point_modules] ([id], [module_code], [points], [effective_from], [effective_to], [created_at]) VALUES (2, N'forum', 10, CAST(N'2025-10-08T11:34:32.0000000' AS DateTime2), NULL, CAST(N'2025-10-09T18:14:55.0000000' AS DateTime2))
INSERT [dbo].[point_modules] ([id], [module_code], [points], [effective_from], [effective_to], [created_at]) VALUES (3, N'recommendation', 5, CAST(N'2025-10-08T11:34:32.0000000' AS DateTime2), NULL, CAST(N'2025-10-09T18:14:11.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[point_modules] OFF
GO
SET IDENTITY_INSERT [dbo].[recommendation] ON 

INSERT [dbo].[recommendation] ([id], [author], [created_at], [updated_at], [status]) VALUES (1, N'Antoine de Saint-Exupéry
', CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2), CAST(N'2025-09-09T10:17:27.2299695' AS DateTime2), N'publicado')
INSERT [dbo].[recommendation] ([id], [author], [created_at], [updated_at], [status]) VALUES (31, N'Asier Altuna', CAST(N'2025-10-09T16:55:45.6433333' AS DateTime2), CAST(N'2025-10-09T16:55:45.6484755' AS DateTime2), N'publicado')
INSERT [dbo].[recommendation] ([id], [author], [created_at], [updated_at], [status]) VALUES (32, N'Ángel Quintas', CAST(N'2025-10-09T16:56:49.8933333' AS DateTime2), CAST(N'2025-10-10T10:25:13.8658437' AS DateTime2), N'publicado')
SET IDENTITY_INSERT [dbo].[recommendation] OFF
GO
SET IDENTITY_INSERT [dbo].[recommendation_likes] ON 

INSERT [dbo].[recommendation_likes] ([id], [user_id], [recommendation_id], [created_at]) VALUES (1, 1, 1, CAST(N'2025-10-13T09:16:37.0000000' AS DateTime2))
INSERT [dbo].[recommendation_likes] ([id], [user_id], [recommendation_id], [created_at]) VALUES (2, 2, 1, CAST(N'2025-10-13T09:16:37.0000000' AS DateTime2))
INSERT [dbo].[recommendation_likes] ([id], [user_id], [recommendation_id], [created_at]) VALUES (3, 3, 31, CAST(N'2025-10-13T09:16:37.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[recommendation_likes] OFF
GO
SET IDENTITY_INSERT [dbo].[routine] ON 

INSERT [dbo].[routine] ([id], [frequency], [duration], [created_at], [updated_at]) VALUES (1, 2, 10, CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2), CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2))
INSERT [dbo].[routine] ([id], [frequency], [duration], [created_at], [updated_at]) VALUES (2, 3, 30, CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2), CAST(N'2025-09-09T10:17:27.2309697' AS DateTime2))
INSERT [dbo].[routine] ([id], [frequency], [duration], [created_at], [updated_at]) VALUES (15, 3, 60, CAST(N'2025-09-16T11:27:01.9833333' AS DateTime2), CAST(N'2025-09-16T11:27:01.9833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[routine] OFF
GO
SET IDENTITY_INSERT [dbo].[translation] ON 

INSERT [dbo].[translation] ([id], [id_link], [lang], [title], [content]) VALUES (20, 17, N'eu', N'Printze Txikia', N'Gauzak beste ikuspegi batzuetatik hautematen ikasteko liburua')
INSERT [dbo].[translation] ([id], [id_link], [lang], [title], [content]) VALUES (39, 54, N'es', N'Kedada futbol', N'Kedada futbol')
INSERT [dbo].[translation] ([id], [id_link], [lang], [title], [content]) VALUES (40, 55, N'es', N'Partido baloncesto', N'Partido baloncesto')
SET IDENTITY_INSERT [dbo].[translation] OFF
GO
SET IDENTITY_INSERT [dbo].[trial] ON 

INSERT [dbo].[trial] ([id], [id_image], [content], [created_at], [updated_at]) VALUES (1, 1, N'Reto 7 días de respiración', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[trial] ([id], [id_image], [content], [created_at], [updated_at]) VALUES (2, 2, N'Reto 3 días sin notificaciones', CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2), CAST(N'2025-09-09T10:17:27.2320295' AS DateTime2))
INSERT [dbo].[trial] ([id], [id_image], [content], [created_at], [updated_at]) VALUES (3, 5, N'gdfgdf', CAST(N'2025-09-17T18:02:13.7700000' AS DateTime2), CAST(N'2025-09-17T18:02:13.7700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[trial] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [usuario], [roles], [soccle], [matcle], [sexo], [sit], [nif], [nombre], [apel], [email], [usuario_sup]) VALUES (1, N'ezequiel_33_1@hotmail.com', N'admin', N'001       ', N'0013155   ', N'H', 1, N'DNI78852A', N'NICOLAS', N'GEN DIAZ', N'ngen@mail.com', N'T5249M    ')
INSERT [dbo].[user] ([id], [usuario], [roles], [soccle], [matcle], [sexo], [sit], [nif], [nombre], [apel], [email], [usuario_sup]) VALUES (2, N'T3107B', N'usuario', N'001       ', N'0013107   ', N'H', 1, N'DNI49984F', N'JUAN MANUEL', N'SANTOS CUENCA', N'jsantosc@mail.com', N'T5693F    ')
INSERT [dbo].[user] ([id], [usuario], [roles], [soccle], [matcle], [sexo], [sit], [nif], [nombre], [apel], [email], [usuario_sup]) VALUES (3, N'T3196Q', N'usuario', N'001       ', N'0013196   ', N'H', 1, N'DNI75208Q', N'MARTIN JESUS', N'IZQUIERDO ANDRES', N'mizquier@mail.com', N'T5108B    ')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[user_activity] ON 

INSERT [dbo].[user_activity] ([id], [id_user], [id_point], [status]) VALUES (6, 1, 9, N'en_proceso')
INSERT [dbo].[user_activity] ([id], [id_user], [id_point], [status]) VALUES (31, 1, 34, N'en_proceso')
INSERT [dbo].[user_activity] ([id], [id_user], [id_point], [status]) VALUES (32, 1, 35, N'en_proceso')
SET IDENTITY_INSERT [dbo].[user_activity] OFF
GO
/****** Object:  Index [ux_catlink]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[category_link] ADD  CONSTRAINT [ux_catlink] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ux_crel]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[category_relation] ADD  CONSTRAINT [ux_crel] UNIQUE NONCLUSTERED 
(
	[id_parent] ASC,
	[id_child] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_ct]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[category_translation] ADD  CONSTRAINT [ux_ct] UNIQUE NONCLUSTERED 
(
	[id_category] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_learn_identifier]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [UQ_learn_identifier] UNIQUE NONCLUSTERED 
(
	[identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__module_t__AFDCF3BB4F6B947A]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[module_toggle] ADD UNIQUE NONCLUSTERED 
(
	[module_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_tr]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[translation] ADD  CONSTRAINT [ux_tr] UNIQUE NONCLUSTERED 
(
	[id_link] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_email]    Script Date: 13/10/2025 19:38:04 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [UQ_user_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[admin_legal] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[banner] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner] ADD  CONSTRAINT [DF_banner_israffle]  DEFAULT ((0)) FOR [is_raffle]
GO
ALTER TABLE [dbo].[banner] ADD  CONSTRAINT [DF_banner_status]  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[forum] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [DF_learn_timecreated]  DEFAULT (datediff_big(second,'1970-01-01',sysutcdatetime())) FOR [timecreated]
GO
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [DF_learn_timemodified]  DEFAULT (datediff_big(second,'1970-01-01',sysutcdatetime())) FOR [timemodified]
GO
ALTER TABLE [dbo].[learn] ADD  CONSTRAINT [DF_learn_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[learn_user] ADD  DEFAULT ((0)) FOR [has_grade]
GO
ALTER TABLE [dbo].[learn_user] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learn_user] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[meeting] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_show_module]  DEFAULT ((1)) FOR [show_module]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_created]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[module_toggle] ADD  CONSTRAINT [DF_module_toggle_updated]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[point] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[point_modules] ADD  CONSTRAINT [DF_point_modules_from]  DEFAULT (sysutcdatetime()) FOR [effective_from]
GO
ALTER TABLE [dbo].[point_modules] ADD  CONSTRAINT [DF_point_modules_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[recommendation] ADD  CONSTRAINT [DF_recommendation_status]  DEFAULT (N'publicado') FOR [status]
GO
ALTER TABLE [dbo].[recommendation_likes] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[routine] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[trial] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_roles]  DEFAULT ('usuario') FOR [roles]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_soccle]  DEFAULT ('') FOR [soccle]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_matcle]  DEFAULT ('') FOR [matcle]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_sexo]  DEFAULT ('') FOR [sexo]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_sit]  DEFAULT ((0)) FOR [sit]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_nif]  DEFAULT ('') FOR [nif]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_nombre]  DEFAULT ('') FOR [nombre]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_apel]  DEFAULT ('') FOR [apel]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_category]
GO
ALTER TABLE [dbo].[category_link]  WITH CHECK ADD  CONSTRAINT [fk_catlink_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[category_link] CHECK CONSTRAINT [fk_catlink_link]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_child] FOREIGN KEY([id_child])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_child]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [fk_crel_parent] FOREIGN KEY([id_parent])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [fk_crel_parent]
GO
ALTER TABLE [dbo].[category_translation]  WITH CHECK ADD  CONSTRAINT [fk_ct_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category_translation] CHECK CONSTRAINT [fk_ct_category]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [fk_image_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [fk_image_category]
GO
ALTER TABLE [dbo].[learn_user]  WITH CHECK ADD  CONSTRAINT [FK_learn_user_learn] FOREIGN KEY([content_identifier])
REFERENCES [dbo].[learn] ([identifier])
GO
ALTER TABLE [dbo].[learn_user] CHECK CONSTRAINT [FK_learn_user_learn]
GO
ALTER TABLE [dbo].[learn_user]  WITH CHECK ADD  CONSTRAINT [FK_learn_user_user] FOREIGN KEY([user_email])
REFERENCES [dbo].[user] ([email])
GO
ALTER TABLE [dbo].[learn_user] CHECK CONSTRAINT [FK_learn_user_user]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_admin_legal] FOREIGN KEY([id_admin_legal])
REFERENCES [dbo].[admin_legal] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_admin_legal]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_banner] FOREIGN KEY([id_banner])
REFERENCES [dbo].[banner] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_banner]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_forum] FOREIGN KEY([id_forum])
REFERENCES [dbo].[forum] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_forum]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_learn] FOREIGN KEY([id_learn])
REFERENCES [dbo].[learn] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_learn]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_meeting] FOREIGN KEY([id_meeting])
REFERENCES [dbo].[meeting] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_meeting]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_recommendation] FOREIGN KEY([id_recommendation])
REFERENCES [dbo].[recommendation] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_recommendation]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_routine] FOREIGN KEY([id_routine])
REFERENCES [dbo].[routine] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_routine]
GO
ALTER TABLE [dbo].[link]  WITH CHECK ADD  CONSTRAINT [fk_link_trial] FOREIGN KEY([id_trial])
REFERENCES [dbo].[trial] ([id])
GO
ALTER TABLE [dbo].[link] CHECK CONSTRAINT [fk_link_trial]
GO
ALTER TABLE [dbo].[point]  WITH CHECK ADD  CONSTRAINT [fk_point_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[point] CHECK CONSTRAINT [fk_point_link]
GO
ALTER TABLE [dbo].[recommendation_likes]  WITH CHECK ADD  CONSTRAINT [FK_recommendation_likes_recommendation] FOREIGN KEY([recommendation_id])
REFERENCES [dbo].[recommendation] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recommendation_likes] CHECK CONSTRAINT [FK_recommendation_likes_recommendation]
GO
ALTER TABLE [dbo].[recommendation_likes]  WITH CHECK ADD  CONSTRAINT [FK_recommendation_likes_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recommendation_likes] CHECK CONSTRAINT [FK_recommendation_likes_user]
GO
ALTER TABLE [dbo].[translation]  WITH CHECK ADD  CONSTRAINT [fk_tr_link] FOREIGN KEY([id_link])
REFERENCES [dbo].[link] ([id])
GO
ALTER TABLE [dbo].[translation] CHECK CONSTRAINT [fk_tr_link]
GO
ALTER TABLE [dbo].[trial]  WITH CHECK ADD  CONSTRAINT [fk_trial_image] FOREIGN KEY([id_image])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[trial] CHECK CONSTRAINT [fk_trial_image]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_point] FOREIGN KEY([id_point])
REFERENCES [dbo].[point] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_point]
GO
ALTER TABLE [dbo].[user_activity]  WITH CHECK ADD  CONSTRAINT [fk_uact_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[user_activity] CHECK CONSTRAINT [fk_uact_user]
GO
ALTER TABLE [dbo].[banner]  WITH CHECK ADD  CONSTRAINT [CK_banner_status] CHECK  (([status]=N'finished' OR [status]=N'running' OR [status]=N'scheduled' OR [status]=N'draft'))
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [CK_banner_status]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [ck_category_status] CHECK  (([status]=N'eliminado' OR [status]=N'publicado'))
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [ck_category_status]
GO
ALTER TABLE [dbo].[category_relation]  WITH CHECK ADD  CONSTRAINT [ck_crel_diff] CHECK  (([id_parent]<>[id_child]))
GO
ALTER TABLE [dbo].[category_relation] CHECK CONSTRAINT [ck_crel_diff]
GO
ALTER TABLE [dbo].[learn]  WITH NOCHECK ADD  CONSTRAINT [CK_learn_status] CHECK  (([status]='deleted' OR [status]='active'))
GO
ALTER TABLE [dbo].[learn] CHECK CONSTRAINT [CK_learn_status]
GO
ALTER TABLE [dbo].[point_modules]  WITH CHECK ADD  CONSTRAINT [CK_point_modules_dates] CHECK  (([effective_to] IS NULL OR [effective_to]>[effective_from]))
GO
ALTER TABLE [dbo].[point_modules] CHECK CONSTRAINT [CK_point_modules_dates]
GO
ALTER TABLE [dbo].[point_modules]  WITH CHECK ADD  CONSTRAINT [CK_point_modules_module] CHECK  (([module_code]='meeting' OR [module_code]='trial' OR [module_code]='routine' OR [module_code]='recommendation' OR [module_code]='forum' OR [module_code]='learn'))
GO
ALTER TABLE [dbo].[point_modules] CHECK CONSTRAINT [CK_point_modules_module]
GO
ALTER TABLE [dbo].[point_modules]  WITH CHECK ADD  CONSTRAINT [CK_point_modules_points] CHECK  (([points]>=(0)))
GO
ALTER TABLE [dbo].[point_modules] CHECK CONSTRAINT [CK_point_modules_points]
GO
