@use '../abstracts' as *;

.main-content {
  margin-top: 75px;
  margin-left: 60px; // cuando el menú está cerrado
  transition: margin-left 0.25s ease;

  .menu.is-open + & {
    margin-left: 160px; // cuando el menú está abierto
  }
}

